<footer>
  <div class="footer-grid">
    <div class="footer-brand">
      <div class="footer-logo"
        style="background-color: var(--white); padding: 15px; border-radius: 24px; display: inline-flex; align-items: center; justify-content: center; width: 100%; max-width: 340px; height: auto;">
        <img src="../assets/logo-koawis-rectangle.png" alt="Logo KO AWIS" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
      </div>
      <p class="footer-desc">KO AWIS (Kakao Olahan Desa Ngawis): Penguatan Kapasitas Masyarakat Melalui Pojok 
          Literasi Terpadu Berbasis Ekosistem Hilirisasi Kakao Menuju Desa Cerdas </p>
    </div>
    <div class="footer-col">
      <h4>Tautan Cepat</h4>
      <ul>
        <li><a href="index.html">Beranda</a></li>
        <li><a href="modul.html">Daftar Modul</a></li>
        <li><a href="tentang.html">Profil Tim</a></li>
        <li><a href="informasi.html">Galeri Kegiatan</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Hubungi Kami</h4>
      <ul>
        <li><a href="mailto:ppkocentrisftiuii@gmail.com">ppkocentrisftiuii@gmail.com</a></li>
        <li><a href="tel:">+62 812-3456-7890</a></li>
        <li><a href="https://maps.app.goo.gl/5BsQmE3zYe2EK3vr5"> Desa Ngawis, Gunungkidul</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Ikuti Kami</h4>
      <ul>
        <li><a href="https://www.instagram.com/ppko.centrisftiuii">Instagram</a></li>
        <li><a href="https://www.tiktok.com/@ppko.centrisftiuii">Tiktok</a></li>
        <li><a href="https://www.youtube.com/@ppko.centrisftiuii">YouTube</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2026 PPK Ormawa Desa Ngawis. Seluruh Hak Cipta Dilindungi.</span>
    <div class="footer-logos-container">
        <!-- <div class="footer-logo-place"><img src="../assets/1. LOGO KEMDIKTISAINTEK (TUT WURI HANDAYANI).png" alt="Logo 1"></div>
        <div class="footer-logo-place"><img src="../assets/2 Logo Diktisaintek Berdampak.png" alt="Logo 2"></div>
        <div class="footer-logo-place"><img src="../assets/3. LOGO BELMAWA.png" alt="Logo 3"></div>
        <div class="footer-logo-place"><img src="../assets/4. LOGO PPK ORMAWA.png" alt="Logo 4"></div> -->
        <div class="footer-logo-place"><img src="../assets/5. LOGO UII.png" alt="Logo 5"></div>
        <div class="footer-logo-place"><img src="../assets/Centris.jpg" alt="Logo 6"></div>
    </div>
  </div>
</footer>